# --- Pastas de Compilação do .NET ---
bin/
obj/

# --- Configurações do Editor (VS Code) ---
.vscode/

# --- Bancos de Dados SQLite locais ---
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
*.db
# --- Configurações de Ambiente Local ---
appsettings.Development.json
